<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Book library</title>
</head>
<body>
    <div class="container">
        <h3>Book Directory</h3>
        <hr>
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Title</th>
                    <th>Author Name</th>
                    <th>Author Email</th>
                    <th>Category</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="book: ${books}">
                    <td th:text="${book.title}"/>
                    <td th:text="${book.author.name}"><a th:href="@{'/books/author'(id=${book.author.id})}"/>Details</a></td>
                    <td th:text="${book.author.email}"/>                    
                    <td th:text="${book.category}"/>
                    <td>
                        <div class="row">
				            <div class="col-small">
                            <!-- Add "update" button/link -->
                                <form action="#" th:action="@{/books/showFormForUpdate}" method="POST">
                                    <input type="hidden" name="bookId" th:value="${book.id}" />						
                                    <button type="submit" class="btn btn-info btn-sm ml-3 mr-1">Update</button>
                                </form>
                            </div>
                              <!-- Add "update" button/link -->
                                <form action="#" th:action="@{/books/author}" method="POST">
                                    <input type="hidden" name="bookId" th:value="${book.id}" />						
                                    <button type="submit" class="btn btn-info btn-sm ml-3 mr-1">Details</button>
                                </form>
                            </div>
                            
                            <div class="col-small">
                            <!-- Add "delete" button/link -->					
                            <form action="#" th:action="@{/books/delete}" method="POST">
                            
                                <input type="hidden" name="bookId" th:value="${book.id}" />						
                                <button type="submit" class="btn btn-danger btn-sm"
                                        onclick="if (!(confirm('Are you sure you want to delete this book?'))) return false">
                                        Delete
                                </button>
                            </form>
                            </div>
                        </div>	    
                    </td>
                </tr>
            </tbody>
        </table>    
    </div>
</body>
</html>